<div class="navbar">
    <div class="navbar-brand">
      <img src="img/vocho.jpg" class="logo">
    </div>
    <div >  
        <input type="text" placeholder="Buscar..." class="input">
    </div>
    <nav class="navbar-links">
    <ul >
        <li >
          <a  aria-current="page" href="#home">Inicio</a>
        </li>
        <li >
          <a  href="#apartado1">apartado1</a>
        </li>
        <li >
          <a  href="#apartado2">apartado2</a>
        </li>
      </ul>
    </nav>
  </div>

