<section class="section">
    <div class="container">
      <p>Los autos deportivos son vehículos diseñados para ofrecer un rendimiento superior en términos de velocidad, aceleración y manejo. Estos coches suelen tener una aerodinámica optimizada, motores potentes y una suspensión ajustada para proporcionar un manejo ágil y preciso.
        
        Modelos icónicos como el Porsche 911, Ferrari 488 o Lamborghini Huracán combinan lujo y tecnología avanzada para brindar una experiencia de conducción emocionante, tanto en pistas de carreras como en carreteras normales.
      </p>
    </div>
  </section>